<div class="modal fade" id="commentsModal<%= post.id %>" tabindex="-1" aria-labelledby="commentsModalLabel<%= post.id %>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="commentsModalLabel<%= post.id %>">
          Comments on "<%= post.title %>"
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Display existing comments -->
        <div class="comments-list mb-3">
          <% if post.comments.any? %>
            <% post.comments.each do |comment| %>
              <%= render 'blog_posts/comment', comment: comment, post: post %>
            <% end %>
          <% else %>
            <p class="text-muted text-center">No comments yet. Be the first to comment!</p>
          <% end %>
        </div>

        <!-- Comment form -->
        <%= render 'blog_posts/comment_form', post: post %>
      </div>
    </div>
  </div>
</div>
