<% if !@blog_posts.nil? && @blog_posts.total_pages > 1 %>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item <%= 'disabled' if @blog_posts.first_page? %>">
                <%= link_to 'Previous', blog_posts_path(page: @blog_posts.prev_page), class: 'page-link' %>
            </li>

            <% (1..@blog_posts.total_pages).each do |page| %>
                <li class="page-item <%= 'active' if @blog_posts.current_page == page %>">
                    <%= link_to page, blog_posts_path(page: page), class: 'page-link' %>
                </li>
            <% end %>

            <li class="page-item <%= 'disabled' if @blog_posts.last_page? %>">
                <%= link_to 'Next', blog_posts_path(page: @blog_posts.next_page), class: 'page-link' %>
            </li>
        </ul>
    </nav>
<% end %>